<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>OAuth</title>
  </head>
  <meta name="google-site-verification" content="google131742fa08bd8639.html" />
  <body>
      <nav>
          <ul>
                <li><a href="/auth/logout">logout</a></li>
                <li><a href="/auth/login">login</a></li>
                <li><a href="/">Homepage</a></li>
          </ul>
      </nav>
      <header>
          <h2>homepage</h2>
      </header>
      <main>
          <p>passport testing</p>
      </main>
  </body>
</html>